{
  "oauth": {
    "github": {
      "id": "",
      "secret": ""
    },
  },

  "env_option":{
    "SECRET_KEY": "", /* generate: import os; os.urandom(24) */ 
    "MAIL_USERNAME": "example@example.com",
    "MAIL_PASSWORD": "***",
    "FINEPY_ADMIN": "muse",
    "FINEPY_ADMIN": "example@example.com"
  }
}
