<div id="footer">
  <div class='container'>
    <div id='copyright'>&copy;2016 by <a href="https://github.com/finron" target="_blank">finron</a>
      &nbsp;&nbsp;&nbsp;Powered by <a href="http://flask.pocoo.org/" target="_blank">Flask</a>
    </div>
    <ul id='links'>
      <li id="beian" class="hidden-xs">
        <a target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备15052709号-1</a>
      </li>
      <li><a href="{{ url_for('site.about') }}">关于</a></li>
      <li>
        <a target="_blank" href="https://github.com/finron/finepy">GitHub</a>
      </li>
    </ul>
  </div>
</div>
