<ul class="admin-tab">
  <li id="listtype">
    <select class="form-control">
      <option {% if tab_menu and tab_menu=='posts' %} selected="selected" {% endif %} value="{{ url_for('admin.posts') }}">文章</option>
      <option {% if tab_menu and tab_menu=='comments' %} selected="selected" {% endif %} value="{{ url_for('admin.comments') }}">评论</option>
      <option {% if tab_menu and tab_menu=='users' %} selected="selected" {% endif %} value="{{ url_for('admin.users') }}">用户</option>
      <option {% if tab_menu and tab_menu=='links' %} selected="selected" {% endif %} value="{{ url_for('admin.links') }}">链接</option>
      <option {% if tab_menu and tab_menu=='logs' %} selected="selected" {% endif %} value="{{ url_for('admin.logs') }}">日志</option>
      <option {% if tab_menu and tab_menu=='settings' %} selected="selected" {% endif %} value="{{ url_for('admin.settings') }}">配置</option>
    </select>
  </li>

  <li id="edit">
    <button type="button" class="btn btn-default btn-sm">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </li>
  <li id="delete">
    <button type="button" class="btn btn-default btn-sm">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <form class="input-group" method="get" action="{{ url_for('admin.search') }}">
      <ul class="admin-tab-search">
        <li>
          <!-- <input type="text" name="q_date_range" class="form-control input-date-range" placeholder="起止日期"> -->
          <div class=" input-group" id="datepicker">
              <input type="text" class="input-date-range input-sm form-control" name="start" placeholder="起止日期"/>
              <span class="input-group-addon">到</span>
              <input type="text" class="input-date-range input-sm form-control" name="end" />
          </div>        
        </li>
        <li>
          <input type="text" name="q_user" class="input-sm form-conttrol" placeholder="用户名" />
        </li>
        <li>
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="查询" name="q_text" />
            <span class="input-group-btn">
              <button type="submit" title='查询' class="btn btn-default btn-sm">
                <i class='fa fa-search' aria-hidden="true"></i> 
              </button>
            </span>
          </div>
        </li>
      </div>
    </form>
  </li>
</ul>
