<ul class="posts">
  {% for post in posts %}
    <div class="post">
      <p class="date">
        {{ moment(post['post_time']).format('YYYY-MM-DD HH:mm') }}
      </p>
      <h1 class="post-title">
        <a href="/post/{{ post.id }}" title="{{ post.title }}">
          {{ post['title'] }}
        </a>
      </h1>
      <div class="posted">
        <span class="label label-default">
          <a href="/user/{{ post.author.username }}">
            @{{ post.author.username }}
          </a>
        </span>
        {% if post.get_tags() %}
          &nbsp;标签:&nbsp;
          {% if post.get_tags() is iterable %}
            {% for tag in post.get_tags() %}
              <span class="label label-primary">
                <a href="/tags/{{ tag.name }}"> {{ tag.name }} </a>
              </span>&nbsp;&nbsp;
            {% endfor %}
          {% else %}
            <span class="label label-primary">
              <a href="/tags/{{ post.get_tags().name }}"> {{ post.get_tags().name }}</a>
            </span>&nbsp;&nbsp;
          {% endif %}
        {% endif %}
      </div>
      <div class="post-body">
        {% if post.body_html %}
          {{ post.body_html|safe }}
        {% elif post.body %}
          {{ post.body[:140]|safe }}
        {% endif %}
      </div>
      <div style="clear:both;">
        <a href="/post/{{ post.id }}">全文&gt;&gt;</a>
      </div>
    </div>
  {% endfor %}
</ul>
{% if pagination %}
  {% from "macros/common.html" import render_pagination %}
  <div class="page">
    {{ render_pagination(pagination, url_for("front.index")) }}
  </div>
{% endif %}
