<ul class="posts">
  {% for post in posts %}
  <div class="post">
    <p class="date">
        {{ moment(post['post_time']).format('LL') }}
    </p>
    <h1 class="post-title">
      <a href="post/{{ post.id }}" title="{{ post.title }}">
        {{ post['title'] }}
      </a>
    </h1>
    <div class="posted">
      <span class="label label-default">
        <a href="/user/{{ post.author.username }}">
          @{{ post.author.username }}
        </a>
      </span>
      {% if post.tags %}
      &nbsp;标签:&nbsp;
        {% if post.tags is iterable %}
          {% for tag_name in post.tags %}
            <span class="label label-primary">
              <a href="tags/{{ tag_name }}"> {{ tag_name }}&nbsp;&nbsp;</a>
            </span>
          {% endfor %}
        {% else %}
            <span class="label label-primary">
              <a href="tags/{{ post.tags.name }}"> {{ post.tags.name }}&nbsp;&nbsp;</a>
            </span>
        {% endif %}
      {% endif %}
    </div>
    <div class="post-body">
      {{ post.body|safe }}
    </div>
    <div style="clear:both;">
      <a href="post/{{ post.id }}">全文&gt;&gt;</a>
    </div>
  </div>
  {% endfor %}
</ul>
{% if pagination %}
{% from "macros/common.html" import render_pagination %}
<div class="page">
  {{ render_pagination(pagination, url_for("front.index")) }}
</div>
{% endif %}
